### Recap

In [2]:
matric_pass = False


if matric_pass:
    print(f"Can Proceed with the test")
else:
    print(f"Atleast Matric is the Bare Minimum Requirement")

Atleast Matric is the Bare Minimum Requirement

### Nested If Else

In [4]:
matric_pass = True

#condtional statement
if matric_pass:
    print(f"Can Proceed with the test")
    test_cleared = input("Status of Test (pass/fail):")
    #nested if
    if test_cleared == "pass":
        print(f"Can Take Admission")
    else:
        print(f"You are in Waiting list")
else:
    print(f"Atleast Matric is the Bare Minimum Requirement")

Can Proceed with the test
Status of Test (pass/fail):pass
Can Take Admission

In [17]:
cleared_test = True
matric_pass = False
'''
conditional statement
we are validating saylani students
criteria is student will be matric pass and cleared test
'''
if cleared_test and matric_pass:
    print(f"Can take Admission")
elif (matric_pass):
    print(f"You are on waiting list")
else:
    print(f"Can not take Admission")

Can not take Admission

In [20]:
cleared_test = bool(input("Enter Test Status (True/False)"))
matric_pass = bool(input("Enter Test Educational Status (True/False)"))
'''
conditional statement
we are validating saylani students
criteria is student will be matric pass and cleared test
'''
if cleared_test and matric_pass:
    print(f"Can take Addmission")        
elif (matric_pass):
    print(f"You are on waiting list")
else:
    print(f"Can not take Admission")

Enter Test Status (True/False)true
Enter Test Educational Status (True/False)false
Can take Addmission

## List

Problem Can't store similar type values in varaiables <b>
solution:list introduction a way to store same collection of values

In [21]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Denver"
city_4 = "Los Angeles"
city_5 = "Seattle"

SYNTAX OF LIST:
list_name = [value1, values2]

In [23]:
#            0          1          2         3          4            5
cities = ["Atlanta","Baltimore","Chicago","Denver","Los Angeles","Seattle"]
#            -6           -5          -4         -3            -2            -1

In [24]:
print(type(cities))

<class 'list'>

In [ ]:
# Extracting values from list

In [25]:
cities[0]

'Atlanta'

In [27]:
cities[1]

'Baltimore'

In [28]:
cities[2]

'Chicago'

In [29]:
cities[-1]

'Seattle'

## Taking slices out of them

In [30]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [31]:
cities[:3] # last index is excluded

['Atlanta', 'Baltimore', 'Chicago']

In [32]:
cities[2:4] # first values is included & last value will excluded (in Slicing)

['Chicago', 'Denver']

In [36]:
cities[-3:-1] # same slicing rules should be apply here

['Denver', 'Los Angeles']

Task3: Write a code that skip pne sity after another from start

In [38]:
cities[::2]

['Atlanta', 'Chicago', 'Los Angeles']

In [39]:
cities #acending order

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [40]:
cities[::-1] #decending order

['Seattle', 'Los Angeles', 'Denver', 'Chicago', 'Baltimore', 'Atlanta']

## Adding & Inserting Values